server:
  port: 58888
  compression:
    enabled: true
    mime-types: application/json,application/xml,application/xhtml+xml,text/html,text/xml,text/plain
    min-response-size: 1024
  servlet:
    session:
      timeout: 1800

spring:
  application:
    name: tool-stock
  threads:
    virtual:
      enabled: true
  # 允许循环依赖
  main:
    allow-circular-references: true
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB
  web:
    resources:
      chain:
        cache: false
  profiles:
    active: dev
  freemarker:
    checkTemplateLocation: false
  datasource:
    hikari:
      minimum-idle: 5
      maximum-pool-size: 15
    #mysql
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://124.70.131.84:13306/bcd?characterEncoding=utf8&useSSL=false&rewriteBatchedStatements=true&serverTimezone=GMT%2B8&generateSimpleParameterMetadata=true&allowPublicKeyRetrieval=True
    username: root
    password: root
  #  jdbcTemplate配置
  jdbc:
    template:
      fetch-size: 1000
      max-rows: -1
      query-timeout:

springdoc:
  packages-to-scan:
    - cn.bcd
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    enabled: true